@charset "utf-8";
/* CSS Document */

body
{
	background-color: #223921;
	background-image: url(/09/new_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.PageBG
{
	background-image: url(/09/bg_scale_pages.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.PageMenuTitles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #337036;
	padding-left: 30px;
}
.MenuItems {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	padding-left: 45px;
	padding-right: 10px;
}
.MenuArrows {
	color: #337036;
}
.MenuItems a {
	color: #000000;
	text-decoration: none;
}
.MenuItems a:hover {
	color: #337036;
	text-decoration: none;
}
h1 {
	font-size: 17px;
	color: #e67700;
	font-weight: bold;
	padding-top: 5px;
}
.ImageRight {
	float: right;
	padding-bottom: 5px;
	padding-left: 10px;
}
.Brand {
	padding-left: 28px;
	padding-top: 59px;
}
a
{
	color: #337036;
}
h2 {
	font-weight: bold;
	color: #337036;
	font-size: 13px;
}
.footer
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #c6d2c1;
}
.footer a
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #c6d2c1;
	text-decoration: none;
}
input
{
	font-size: 11px;
}
select
{
	font-size: 11px;
}
.select
{
	font-size: 10px;
	background-color: #344A31;
	color: #FFFFFF;
	border: 1px solid #223921;
}
td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.Bold
{
	font-weight: bold;
}
.PadBar
{
	padding-right: 5px;
	padding-left: 5px;
}
.bodyHome
{
	background-color: #223921;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(/nimages/spacer.gif);
	background-repeat: no-repeat;
}
